
div.key {
  padding: 1em;
  margin: 1em 0;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  color: #6c7a25;
  background-color: #f8faee;
  border: solid 5px #d8e39f;
}